
.nav{
    text-decoration: none;
   list-style: none;
   color: rgb(255, 255, 255);
  padding-left: 840px;
   font-size: 40px;
   position: absolute;top: 30px;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav1{
  position: absolute;top: 30px;
  left: 1050px;
  color: white;
  font-size: 40px;
  text-decoration: none;
  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav2{
    position: absolute;top: 30px;
    left: 690px;
    color: white;
    font-size: 40px;
    text-decoration: none;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.text1 {
    font-size: 30px;
}

.text2 {
    font-size: 30px;
}

.by{
    font-style: normal;
    height: 90px;
}
HTML, BODY {
    height: 100%;
    width: 100%;
  }
  
  BODY {
    background: #082330;
    background-size: 0.12em 100%;
    font: 16em/1 Arial;
  }
  
  .text--line {
    font-size: 0.5em;
  }
  
  svg {
    position: absolute;top: 100px;
    width: 100%;
    height: 100%;
  }
  
  .text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 7% 28%;
    stroke-width: 3px;
    -webkit-animation: stroke-offset 9s infinite linear;
            animation: stroke-offset 9s infinite linear;
  }
  .text-copy:nth-child(1) {
    stroke: #360745;
    stroke-dashoffset: 7%;
  }
  .text-copy:nth-child(2) {
    stroke: #D61C59;
    stroke-dashoffset: 14%;
  }
  .text-copy:nth-child(3) {
    stroke: #E7D84B;
    stroke-dashoffset: 21%;
  }
  .text-copy:nth-child(4) {
    stroke: #EFEAC5;
    stroke-dashoffset: 28%;
  }
  .text-copy:nth-child(5) {
    stroke: #1B8798;
    stroke-dashoffset: 35%;
  }
  
  @-webkit-keyframes stroke-offset {
    50% {
      stroke-dashoffset: 35%;
      stroke-dasharray: 0 87.5%;
    }
  }
  
  @keyframes stroke-offset {
    50% {
      stroke-dashoffset: 35%;
      stroke-dasharray: 0 87.5%;
    }
  }